:root{
    /* --html-background: url("../wallpaper/ascii_cats/latte-pink-cat.svg"); */
    --html-background: url("../wallpaper/sanalzio/neon-red.png");
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}