:root{

    color-scheme: dark;


    --html-background: #212121;
    --html-text: #e0e0e0;
    --html-selection: #e0e0e0;
    --html-selection-text: #212121;
    --scrollbar-thumb-color: rgba(224, 224, 224, 0.7);



    --ansi-black-fg: #212121;
    --ansi-red-fg: #ff7979;
    --ansi-green-fg: #79ff79;
    --ansi-yellow-fg: #ffff79;
    --ansi-blue-fg: #87b6d8;
    --ansi-magenta-fg: #ff7fff;
    --ansi-cyan-fg: #79ffff;
    --ansi-white-fg: #e0e0e0;
  
    --ansi-bright-black-fg: #333333;
    --ansi-bright-red-fg: #ffb3b3;
    --ansi-bright-green-fg: #bbffbb;
    --ansi-bright-yellow-fg: #ffffb3;
    --ansi-bright-blue-fg: #b3dfff;
    --ansi-bright-magenta-fg: #ffbfff;
    --ansi-bright-cyan-fg: #b3ffff;
    --ansi-bright-white-fg: #f0f0f0;


    --ansi-black-bg: #212121;
    --ansi-red-bg: #ff7979;
    --ansi-green-bg: #79ff79;
    --ansi-yellow-bg: #ffff79;
    --ansi-blue-bg: #87b6d8;
    --ansi-magenta-bg: #ff7fff;
    --ansi-cyan-bg: #79ffff;
    --ansi-white-bg: #e0e0e0;
  
    --ansi-bright-black-bg: #333333;
    --ansi-bright-red-bg: #ffb3b3;
    --ansi-bright-green-bg: #bbffbb;
    --ansi-bright-yellow-bg: #ffffb3;
    --ansi-bright-blue-bg: #b3dfff;
    --ansi-bright-magenta-bg: #ffbfff;
    --ansi-bright-cyan-bg: #b3ffff;
    --ansi-bright-white-bg: #f0f0f0;

}