.ansi-black-fg { --fg:var(--ansi-black-fg); }
.ansi-red-fg { --fg: var(--ansi-red-fg); }
.ansi-green-fg { --fg: var(--ansi-green-fg); }
.ansi-yellow-fg { --fg: var(--ansi-yellow-fg); }
.ansi-blue-fg { --fg: var(--ansi-blue-fg); }
.ansi-magenta-fg { --fg: var(--ansi-magenta-fg); }
.ansi-cyan-fg { --fg: var(--ansi-cyan-fg); }
.ansi-white-fg { --fg: var(--ansi-white-fg); }

.ansi-bright-black-fg { --fg: var(--ansi-bright-black-fg); }
.ansi-bright-red-fg { --fg: var(--ansi-bright-red-fg); }
.ansi-bright-green-fg { --fg: var(--ansi-bright-green-fg); }
.ansi-bright-yellow-fg { --fg: var(--ansi-bright-yellow-fg); }
.ansi-bright-blue-fg { --fg: var(--ansi-bright-blue-fg); }
.ansi-bright-magenta-fg { --fg: var(--ansi-bright-magenta-fg); }
.ansi-bright-cyan-fg { --fg: var(--ansi-bright-cyan-fg); }
.ansi-bright-white-fg { --fg: var(--ansi-bright-white-fg); }

.ansi-black-bg { --bg: var(--ansi-black-bg); }
.ansi-red-bg { --bg: var(--ansi-red-bg); }
.ansi-green-bg { --bg: var(--ansi-green-bg); }
.ansi-yellow-bg { --bg: var(--ansi-yellow-bg); }
.ansi-blue-bg { --bg: var(--ansi-blue-bg); }
.ansi-magenta-bg { --bg: var(--ansi-magenta-bg); }
.ansi-cyan-bg { --bg: var(--ansi-cyan-bg); }
.ansi-white-bg { --bg: var(--ansi-white-bg); }

.ansi-bright-black-bg { --bg: var(--ansi-bright-black-bg); }
.ansi-bright-red-bg { --bg: var(--ansi-bright-red-bg); }
.ansi-bright-green-bg { --bg: var(--ansi-bright-green-bg); }
.ansi-bright-yellow-bg { --bg: var(--ansi-bright-yellow-bg); }
.ansi-bright-blue-bg { --bg: var(--ansi-bright-blue-bg); }
.ansi-bright-magenta-bg { --bg: var(--ansi-bright-magenta-bg); }
.ansi-bright-cyan-bg { --bg: var(--ansi-bright-cyan-bg); }
.ansi-bright-white-bg { --bg: var(--ansi-bright-white-bg); }

.ansi-black-fg,
.ansi-red-fg,
.ansi-green-fg,
.ansi-yellow-fg,
.ansi-blue-fg,
.ansi-magenta-fg,
.ansi-cyan-fg,
.ansi-white-fg,
.ansi-bright-black-fg,
.ansi-bright-red-fg,
.ansi-bright-green-fg,
.ansi-bright-yellow-fg,
.ansi-bright-blue-fg,
.ansi-bright-magenta-fg,
.ansi-bright-cyan-fg,
.ansi-bright-white-fg
{ color: var(--fg) !important; }

.ansi-black-bg,
.ansi-red-bg,
.ansi-green-bg,
.ansi-yellow-bg,
.ansi-blue-bg,
.ansi-magenta-bg,
.ansi-cyan-bg,
.ansi-white-bg,
.ansi-bright-black-bg,
.ansi-bright-red-bg,
.ansi-bright-green-bg,
.ansi-bright-yellow-bg,
.ansi-bright-blue-bg,
.ansi-bright-magenta-bg,
.ansi-bright-cyan-bg,
.ansi-bright-white-bg
{ background-color: var(--bg) !important; }

.ansi-blink { animation: ansi-blink-animation 1s steps(5, start) infinite; }
.ansi-rapid-blink { animation: ansi-blink-animation 500ms steps(5, start) infinite; }
@keyframes ansi-blink-animation { to { visibility: hidden; } }