*{
    box-sizing: border-box !important;
}

html,
body {
    color: var(--html-text);
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: var(--html-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: none;
    flex: 1;
    width: calc(var(--main-width) + var(--scrollbar-width-2x));
    box-sizing: content-box !important;
    height: var(--main-height);
    padding-left: var(--scrollbar-width);
    max-width: calc(var(--main-width) + var(--scrollbar-width-2x));
    max-height: var(--main-height);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-gutter: stable;
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    border: var(--scrollbar-thumb-width) solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--scrollbar-thumb-color);
    backdrop-filter: opacity(0.3);
}

#form {
    width: 100%;
    display: flex;
}

#std-in {
    display: inline-block;
    width: auto;
    border: none;
    padding: 0 !important;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    outline: none;
    cursor: default;
    flex-grow: 1;
    overflow: hidden;
    text-wrap: nowrap;
    z-index: 200;
}

#std-in-container, #std-in {
    width: 100%;
}

#outo-complete{
    position: absolute;
    display: inline-block;
    width: auto;
    border: none;
    padding: 0 !important;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    outline: none;
    cursor: default;
    flex-grow: 1;
    overflow: hidden;
    text-wrap: nowrap;
    z-index: 100;

    opacity: 0.3;
}

#std-out {
    word-break: break-all;
    text-wrap: wrap !important;
    margin: 0;
    cursor: default;
    white-space: pre;
}

#std-out a {
    color: currentColor;
}
#std-out .exec-cmd {
    text-decoration: underline;
    cursor: pointer;
}
#std-out fieldset {
    border-color: currentColor;
}

::selection {
    background-color: var(--html-selection);
    color: var(--html-selection-text);
}
