:root{
    --html-background: url("../assets/bg.jpg");
    --html-text: #e0e0e0;
    --html-selection: #e0e0e0;
    --html-selection-text: #212121;

    --main-width: 80%;
    --main-height: 80%;
    --main-font-family: "Fira Code", consolas, monospace;
    --main-font-size: medium;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}